body {
    background-color:#0E0E0E;
    color:#E0E0E0;
    font-family:sans-serif;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
  }

  .url-button a {
    color: #ffffff;
    text-decoration: none;
  }

  .url-button {
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    background-color: #222222;
  }
