body {
    background-color:#0E0E0E;
    color:#E0E0E0;
    font-family:sans-serif;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A0A0A0;
    color: #0E0E0E;
    text-align: center;
  }